* {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 2fr 2fr;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#mountains-front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -210px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}
#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}
.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}
.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: white;
}
.sec p {
  font-size: 1.2em;

  color: white;
}

/* new buttons */
.ull {
  position: relative;
  display: flex;
  gap: 25px;
}
.lii {
  list-style: none;
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.lii:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0);
}
.lii::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}
.lii:hover::before {
  opacity: 1;
}
.lii::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}
.lii:hover::after {
  opacity: 0.5;
}
.lii i {
  color: #777;
  font-size: 1.75em;
  transition: 0.5s;
}
.lii:hover i {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}
.lii span {
  position: absolute;
}
.title {
  color: rgb(255, 255, 255);
  font-size: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
}
.lii:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

.naver {
  position: absolute;
  top: 30px;
  left: 50px;
}

.hader-container {
 height: 10px;
 
 grid-column: 2;
 grid-row: 2 / -4;
 
}
